@font-face {
    font-family: Impact;
    src: url(Impact.ttf);
}

body{
    background-color: #ffffff;
}

nav.sidenav {
	font-family: Impact;
	background-color: #DEAF00;
    height: 100%;
	width: 0;
    position: fixed;
	z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 25px;
	font-size: 55px; 
	display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align:center;
}

.sidenav  a{
	font-family: Impact;
    text-decoration: none;
    font-size: 25px;
    color: #262626;
    display: block;
    transition: 0.2s;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align:center;
    border:1px
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ebcf66;
}

ul.nav{
    display: inline;
    margin: 0;
    padding: 0;
}

ul.nav li{
	display: block;
}


ul.header li{
	display: inline-block;
}

header.head{
	background-color: #DEAF00;
        position:fixed;
        display: inline;
        width: 100%;
        height: 70px;
        top: 0;
        right: 0;
        left: 0;
        font-size: 25px;
        font-weight: bold;
        color: #262626;
        font-family: Impact;  
        z-index: 1;

}

i.material-icons{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
        
}

a.menu{
     visibility: hidden;
}

span :hover, .offcanvas a:focus{
    color: #ebcf66;
}

a.head{
	text-decoration: none;
    color: #262626;
}

a.head1{
      text-decoration: none;
      color: #262626;
     display:none;
}

a:hover{
    color: #ebcf66;
}

div.body{
    margin-top: 50px;
    color: #262626;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
	margin-bottom: 20px;
	overflow-x: hidden;
	width: 100%;
	
}

h1{
	color: #262626;
	font-size: 120px;
    text-align: center;
}

div.footer{

	font-size: 15px;
    font-family: Impact;
	color: #262626;
    background-color: #DEAF00;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
	
}

div.footer_float_left{

	text-align: left;
}

h1.footer_float_left{
	
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

div.footer_float_right{

	text-align: left;
	text-decoration: none;
	font-family: Impact;
	font-size: 15px;
}

h1.footer_float_right{
	
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

footer{
	position: static;
	font-size: 15px;
    font-family: Impact;
	color: #262626;
	text-align: center;
	width: 100%;
	
}

a.footer{
    color: #262626;
    text-decoration: underline;
}

@media screen and (max-width: 830px) {
 
a.menu{
     visibility: visible;
}

a.head1{
      text-decoration: none;
      color: #262626;
     display: inline;
}

a.head{
     display: none;
}

a.dropbtn{
	display: none;
}

div.footer{
text-align:center;
}

}

ul.header{
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



li a, .dropbtn {
    display: inline-block;
    color: #262626;
    text-align: left;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DEAF00;
    min-width: 160px;
    
}

.dropdown-content a {
    color: #262626;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	color: #ebcf66;
}

.dropdown:hover .dropdown-content {
    display: block;